.Results {
  margin: 10px 10px;
}
.Word {
  font-size: 70px;
}
.Primary {
  padding: 30px;
  font-size: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 400px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 765px) {
  .Primary {
    position: static;
    max-width: 300px;
    padding: 80px 80px;
  }
}
