.Results {
  margin: 10px 10px;
}

.Primary {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 20px auto;
  max-width: 300px;
}

@media (max-width: 765px) {
  .Primary {
    position: static;
    max-width: 300px;
    padding: 80px 80px;
  }
}
